.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#about {
  background-color: rgb(243, 244, 245);
}

#project {
  background-color: #e2edff;
}

#contactme {
  background-color: rgb(243, 244, 245);
}

section {
  padding-top: 5rem;
}
